{% extends 'auction/base.html' %}
{% block title %}<title>Team Lineup</title>{% endblock title %}
{% block content %}
    <div class="container">
        <h2>{{ current_team.name }}</h2>
        <p>List of players</p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Original Team</th>
                    <th>Runs</th>
                    <th>Wickets</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
    {% for player in players%}
            <tr>
                <td>{{ player.name }}</td>
                <td>{{ player.original_team }}</td>
                <td>{{ player.stats.runs }}</td>
                <td>{{ player.stats.wickets }}</td>
                <td>{{ player.stats.points }}</td>
            </tr>
    {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><p class='font-weight-bold'>Total Points</p></td>
                <td><p class='font-weight-bolder'>{{ current_team.total_points }}</p></td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock content %} 